<!DOCTYPE html>
  <head>
    <title>Should I Uber?</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/index.css">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD29P9EOBYU5jdFup0BCzUlizjyzncYS38"> </script>
    <script type="text/javascript" src="/static/index.js"></script>
  </head>

  <body>
      <div id="titleBox">
        <h1>Should I Uber?</h1>
      </div>

      <div id="bodyContent">
        <input id="destinationName" type="text" name="destinationName" placeholder="Where to?">
        <input class="boxed" id="updateDirections" type="button" name="updateMap" value="Update Map">
        <br/>
        <p class="boxed">In a hurry?</p>
        <input id="inRush" type="button" name="inRush" value="Yes">
        <input id="unRush" type="button" name="unRush" value="No">
        <div id="map-canvas"></div>
        <input id="submit" type="button" name="submit" value="Should I Uber?"></br>
        <img src="/static/loader.gif"/>
      </div>

      <div id="visualizations">
        <p id="decision" class="boxed" style="opacity:0;">test</p>
        <table align="center">
          <tr>
            <td>Temperature:</td>
            <td id="temp"></td>
          </tr>
          <tr>
            <td>Weather:</td>
            <td id="weather"></td>
          </tr>
          <tr>
            <td>Transit:</td>
            <td id="transit"></td>
          </tr>
        </table>
        <p>Uber ads</p>
        <table align="center">
          <tr>
            <td id="uber1"></td>
            <td id="ubera"></td>
          </tr>
          <tr>
            <td id="uber2"></td>
            <td id="uberb"></td>
          </tr>
          <tr>
            <td id="uber3"></td>
            <td id="uberc"></td>
          </tr>
        </table>

      </div>

      <script>
        document.getElementById("updateDirections").addEventListener('click', function() {
          console.log("bump");
          calcRoute(document.getElementById("destinationName").value);
        });

        document.getElementById("inRush").addEventListener('click', function() {
          console.log("in a rush");
          document.getElementById("inRush").style.backgroundColor="#EEEEEE";
          document.getElementById("inRush").style.color="#151816";
          document.getElementById("unRush").style.backgroundColor="#CCCCCC";
        });
        document.getElementById("unRush").addEventListener('click', function() {
          console.log("not in a rush");
          document.getElementById("unRush").style.backgroundColor = "#EEEEEE";
          document.getElementById("unRush").style.color = "#151816";
          document.getElementById("inRush").style.backgroundColor = "#CCCCCC";
        });

        document.getElementById("submit").addEventListener('click', function() {
          shouldIUber();
        })


        setInterval(function() {
          // console.log("0px " + Math.floor(document.body.scrollTop / 2) + "px");
          document.getElementsByTagName("html")[0].style.backgroundPosition = "0px " + Math.floor(document.body.scrollTop / 2 - 50) + "px";
        }, 1000/60);
      </script>
  </body>
</html>


